<!-- INCLUDE overall_header.html -->
<div id="middlepart">
  <table cellpadding="0" cellspacing="0" width="100%" height="1">
    <tr>
      <td width="100%" align="center" valign="top" style="padding-left: 29px;"> &nbsp;
      </td>
    </tr>
  </table>
</div>

<div id="contentpart">
  <div id="content">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-box" valign="top" align="left" style="padding-right: 0;">
        <div class="content-text">
        	<a href="?mode=index">Начать тесты</a>
        </div>
        </td>
      </tr>
    </table>
    <!-- IF L_DB_QUERIES -->
    <div style="font-style:italic;font-size:x-small;text-align:left;">DB queries: {L_DB_QUERIES} <br> DB query time: {L_DB_QUERY_TIME}</div>
    <!-- ENDIF -->
  </div>
</div>
