<!-- INCLUDE overall_header.html -->
<link href="{U_STYLESHEET}" rel="stylesheet" type="text/css" />
<div id="middlepart">
  <div style="font-style:italic;font-size:x-small;width:100%;text-align:right;"><a href="?mode=reset">Сбросить текущий тест</a></div>    
  <table cellpadding="0" cellspacing="0" width="100%" height="1">
    <tr>
      <td width="100%" align="center" valign="top" style="padding-left: 29px;"> &nbsp;
      </td>
    </tr>
  </table>
</div>

<div id="contentpart">
  <div id="content">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-box" valign="top" align="left" style="padding-right: 0;">
        <div class="content-text">
        
		<!-- IF .test_contents -->
		<div style="float:right; width: 60%;"><h3>{CURRENT_TEST_CONTENTS}</h3>
			<table>
			<!-- BEGIN test_contents -->
				<tr class="{test_contents.TR_CLASS}">
				<th class="test_contents_th">{test_contents.HEBREW}</th><td class="test_contents_td">{test_contents.TRANSLATION}</td>
				</tr>
			<!-- END test_contents -->
			</table>
		</div>
		<!-- ENDIF -->


        <form action="{U_LAUNCHER_FORM_POST}" method="post">
        <div  class="form_fieldset">
        <fieldset name="GroupLessons">
				<legend>Уроки</legend>
				<select multiple="multiple" name="lesson[]" style="width: 250px; height: 150px">
				<!-- BEGIN lesson -->
					<option value="{lesson.VALUE}" <!-- IF lesson.SELECTED --> selected="{lesson.SELECTED}"<!-- ENDIF -->>{lesson.DESCRIPTION}</option>
				<!-- END lesson -->				
				</select>
		</fieldset>
		</div>
			
        <!-- BEGIN input -->
        <div  class="form_fieldset">
        <fieldset>
		        <input <!-- BEGIN element --> {input.element.NAME}="{input.element.PARAM}"<!-- END element -->>{input.DESCRIPTION}
			</fieldset>
		</div>
        <!-- END input -->
        
        <!-- BEGIN selects -->
		<div class="form_fieldset">
			<fieldset>
				<legend>{selects.DESCRIPTION}</legend>
				<select name="{selects.GROUP_NAME}">
				<!-- BEGIN sub -->
					<option <!-- BEGIN el --> {selects.sub.el.NAME}="{selects.sub.el.PARAM}"<!-- END el -->>{selects.sub.DESCRIPTION}</option>
				<!-- END sub -->
				</select>
			</fieldset>
		</div>		
		<!-- END selects -->

		
		<!-- BEGIN radios -->
		<div class="form_fieldset">
			<fieldset>
				<legend>{radios.GROUP_NAME}</legend>
				<!-- BEGIN sub -->
					<input <!-- BEGIN el --> {radios.sub.el.NAME}="{radios.sub.el.PARAM}"<!-- END el -->> {radios.sub.DESCRIPTION}<br>
				<!-- END sub -->
			</fieldset>
		</div>		
		<!-- END radios -->

        
        <div class="menu-buttons">
		        <input type="submit" name="start_test" value="Начать тест" style="border-radius: 10px; position: relative; left: 15px; top: 15px; width: 145px; font-family: Verdana; height: 35px; color: #1e8fc7;"> &nbsp; 
				<input type="submit" name="show_lesson_contents" value="Показать вопросы" style="border-radius: 10px; position: relative; left: 15px; top: 15px; width: 145px; font-family: Verdana; height: 35px; color: #1e8fc7;">        </div>

        </form>
        
        </div>
        </td>
      </tr>
    </table>
<div style="font-style:italic;font-size:large;text-align:left; padding-top:50px;">Рекомендуем ознакомиться: <a href="http://phpbb.aliyah.co/viewtopic.php?f=6&amp;t=16http://phpbb.aliyah.co/viewtopic.php?f=6&amp;t=16">Инструкция и замечания! </a></div>
    <!-- IF L_DB_QUERIES -->
    <div style="font-style:italic;font-size:x-small;text-align:left;">DB queries: {L_DB_QUERIES} <br> DB query time: {L_DB_QUERY_TIME}</div>
    <!-- ENDIF -->
  </div>

</div>
