.lessons_select {
	
	border:1px;
	border-style:solid;
	border-color:gray;
	border-radius:0;
	width:280px;
	height:250px;

}

.tab_wrap{
    border:1px solid #999;
    max-width:300px;
    width: 100%;
}

.tabs {
    width: 100%;
    margin: auto;
    overflow: hidden;   
    background: #F9F9F9;
}
.tabs ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;      
}
.tabs li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width:50%;  
    color: #444444;
    display: block;
    float: left;
    font-weight:bold;   
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border:none;
    border-left:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;    
}
.tabs li a:hover {
    color: #7d7d7d; 
    background:#FFFFFF;
}
.tabs li:first-child a {
    border-left:none;
}
.tabs li a.active {
    background:#FFFFFF;
    border:none;
    border-left:1px solid #d9d9d9;
    border-bottom:1px solid #FFFFFF;    
}
.tabs li:first-child a.active {
    border:none;
    border-bottom:1px solid #FFFFFF;    
}
.tabs li:last-child a.active {
    border:none;
    border-left:1px solid #d9d9d9;  
    border-bottom:1px solid #FFFFFF;    
}


.tab_content {
    background:#FFF;
    padding:0;
    display:none;   
}
.tab_content.active{
    display:block;  
}
.tab_content ul {
    margin:0px;
    padding:0px;
    list-style:none;    
}
.tab_content li {
    display:block;
    overflow: hidden;   
    border-bottom:1px solid #d6dde0;    
}
.tab_content li:last-child {
    border-bottom:none;
}
.tab_content li a {
    display:block;
    list-style:none;
    overflow: hidden;   
    padding:10px;           
    text-decoration:none;
    color:#444444;
}
.tab_content li a:hover {
    color:#000000;
    background:#F5F5F5; 
}
.tab_content li small {
    color:#AAAAAA;
    font-size:11px;
    font-style:italic;
}
.tab_content li a:hover small {
    color:#AAAAAA;
}










#content {
	padding:0px;
	
	width:100%;
}

.question_div {
	position:relative;
	left:25%;
	height:45px;
	text-align:center;
	font-size:xx-large;	
	width:50%;
}

.status_div {
	text-align:left;
	font-style:italic;
	font-size:large;
	color:gray;

	background-color: #F0F0F0;
	padding-top:25px;
	padding-bottom:25px;
	padding-left:45px;
	padding-right:45px;
	
}
.status_good {
	text-align:left;
	font-style:italic;
	font-size:large;
	color:green;	

	background-color: #F0F0F0;
	padding-top:25px;
	padding-bottom:25px;
	padding-left:45px;
	padding-right:45px;

}
.status_bad {
	text-align:left;
	font-style:italic;
	font-size:large;
	color:red;	

	background-color: #F0F0F0;
	padding-top:25px;
	padding-bottom:25px;
	padding-left:45px;
	padding-right:45px;
}

.answer_form_div {
	height:auto;
	text-align:center;
	font-size:xx-large;	
}


.answer_original_question
{
	height:40px;
	text-align:left;
	font-style:normal;
	font-size:xx-large;
	color:black;
	background-color: #F0F0F0;
	padding-top:0px;
	padding-bottom:5px;
	padding-left:45px;
	padding-right:45px;
}

.answer_primary
{
	height:35px;
	text-align:left;
	font-style:italic;
	font-size:large;
	color:#333333;
	background-color: #F0F0F0;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:45px;
	padding-right:45px;
}

.answer_secondary
{
	height:25px;
	text-align:left;
	font-style:italic;
	font-size:medium;
	color:#333333;	
	background-color: #F0F0F0;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:45px;
	padding-right:45px;
}


.next_left {
	width:25%;

	padding-left:5%;
}
.next_right {
	width:25%;
}
.next_center {
	width:50%;
}

.mistakes {
	width:100%;
	border:0px;
	background-color:#F0F0F0;
}
.mistakes_question {
	font-size: xx-large;
	text-align:left;
	padding-left:35px;
	padding-top:7px;
	padding-bottom:7px;
	width:1px;
}

.mistakes_answer {
	font-size: large;
	font-style:italic;
	text-align:left;
	padding-left:15px;

}
.form_fieldset {
	padding:10px;
}

.div_test_contents {
	float:right;
	width:60%;
}
.answer_tr_light {
	background-color:#F0F0F0;
}
.answer_tr_dark {
	background-color:#AAAAAA;
}

.test_contents_td{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:7px;
	padding-right:7px;
	font-style:italic;
	font-weight:lighter;
	font-size:medium;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.test_contents_th{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:7px;
	padding-right:7px;
	
	text-align:right;
	font-size:large;
	font-weight:normal;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.warning_message {
	font-size: large;
	text-align:left;
	color:orange;
}

.p_index_mainbox {
	float: right;
	width: calc(100% - 320px);
}

.left_menubox {
	float: left;
	width:300px;
}

table.t_index_mainbox {
	width: 100%;
	border: none;
	border-color:#333333
}
table.t_index_mainbox td {
	width: 33%;
	padding:5px;
	border:none;
}

table.t_common_stats {
	
	width:100%;
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
	border: 2px;
	border-style:double;
	border-color:gray;
	border-collapse:collapse;
}
table.t_common_stats th {
	font-weight:bolder;
	border: 2px;
	border-style:solid;
	border-color:gray;
	padding: 3px;
}
table.t_common_stats td {
	border: 2px;
	border-style:solid;
	border-color:gray;
	padding: 3px;
}
	