<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<center>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Вход через социальные сети или почту</title>
<!-- Loginza widget JavaScript -->
<script src="http://s1.loginza.ru/js/widget.js" type="text/javascript"></script>
</head>
<body style="padding: 20px 180px; font-size: 12px; font-family: Tahoma; line-height: 200%;">
<h2>Вход через социальные сети или почту</h2>
<h2>Модуль Loginza для авторизации через социальные сети </h2>
<div><b style="color: #000080;">Модуль Loginza позволит Вам авторизироваться у нас на форуме через социальные сети (Вконтакте, Facebook, Twitter, Last.fm), а так же через учетные записи популярных WEB порталов (Yandex, Google, Mail.ru, Rambler и др.).</b></div>
<div><b style="color: #000080;">Вы можете войти на Форум через учетную запись сервиса, где Вы уже зарегистрированы.</b></div>
<div><b style="color: #000080;">При таком типе входа для Вас будет автоматически создана учетная запись на данном Форуме с ником, который будет частично взят из учетной записи выбранного Вами сервиса.</b></div>
<div><b style="color: #000080;">В связи с этим, пожалуйста, после входа прочтите правила нашего форума, особенно про использование ников!</b></div>
<div><b style="color: #000080;">В том случае, если Ваш ник нарушает хотя бы одно из указанных правил, пожалуйста, напишите соответствующее письмо администратору форума (под Вашим получившимся ником), указав Ваш желаемый новый ник в кавычках.</b></div>
<div><b style="color: #000080;">В том случае, если Вы этого не сделаете непосредственно сразу после создания учетной записи, Ваш аккаунт будет удален вместе со всеми Вашими сообщениями.</b></div>
<div><b style="color: #FF0000;">Внимание! Регистрация через модуль Loginza не позволит Вам в дальнейшем сменить Ваш пароль самостоятельно! Модуль Loginza генерирует для Вас пароль самостоятельно и он не сообщается Вам ни в каком виде. Для смены пароля Вам необходимо обратиться к администрации или воспользоваться опцией "Забыл пароль".</b></div>
<div><b style="color: #000080;">Спасибо за желание у нас зарегистрироваться! После успешного входа, пожалуйста, не забудьте прочитать <br /><a href="http://site.ru/rules/" target="_blank">На страницу правил форума</a>!</b></div>
<br />Для продолжения входа нажмите: <a href="https://loginza.ru/api/widget?token_url=http%3A%2F%2Fphpbb.aliyah.co%2Fucp.php%3Fmode%3Dregister" title="Войти через аккаунт социальной сети или почты" accesskey="x" class="loginza"><strong>Войти в модуль Loginza</strong></a>&nbsp;
<br />Если Вы передумали, нажмите: <a href="javascript:history.go(-1)"><strong>Вернуться на главную страницу форума</strong></a>
<br /><b style="color: #FF0000;">После регистрации через аккаунты соцсетей необходимо в личном центре заполнить необходимые данные. <br />Так-же рекомендуется установить аватар, загрузив его со своего компьютера или воспользоваться нашей галереей.</b>
<br /><b style="color: #000080;">АДМИНИСТРАЦИЯ ФОРУМА</b>
</body>
</center>
</html>
